{% extends 'base.html' %} {% block header %}
<h1>{% block title %}New Product{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post">
  <select name="client_id" id="client_id" width="300px">
    {% for o in clients %}
    <option value="{{ o.id }}" SELECTED>{{ o.client_name }}</option>
    {% endfor %}
  </select>

  <label for="product_name">Name</label>
  <input name="product_name" id="product_name" value="{{ request.form['product_name'] }}" required>
  <label for="product_desc">Description</label>
  <input name="product_desc" id="product_desc" value="{{ request.form['product_desc'] }}" required>
  <label for="product_price">Price</label>
  <input name="product_price" id="product_price" value="{{ request.form['product_price'] }}" required>

  <input type="submit" value="Save">
</form>
{% endblock %}